<div ng-include="'partials/navbar'"></div>

<div class="container-fluid">
  <div class="row">
    <h1>Hello, <span ng-show="currentUser">{{ currentUser.name }}</span>.</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <div id="playzone">
      <!-- <iframe id="sc-widget"></iframe> -->
      <iframe id="sc-widget" width="600" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F1848538&show_artwork=true"></iframe>

    </div>
    <div id="playzone_overlay"></div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-10">
      <button type="button" class="btn btn-primary" ng-click="getMe()">get me</button>
      <button type="button" class="btn btn-primary" ng-click="addTracks()">add tracks to queue</button>
      <button type="button" class="btn btn-primary" ng-click="cleanUp()">clean up playlist</button>
      <button type="button" class="btn btn-primary" ng-click="loadPlayer()">load player</button>
      <button type="button" class="btn btn-primary" ng-click="togglePlayer()">
        <span class={{playButton}}></span>
      </button>
      <button type="button" class="btn btn-primary" ng-click="skip()">skip</button>
      <button type="button" class="btn btn-primary" ng-click="like()">like</button>
      <button type="button" class="btn btn-primary" ng-click="savePlaylist()">save to db</button>
      <button type="button" class="btn btn-primary" ng-click="showPlaylist()">show playlist</button>
      <button type="button" class="btn btn-primary" ng-click="dropPlaylist()">drop playlist</button>

      <button type="button" class="btn btn-primary" ng-click="listenForEnd()">start listening</button>

    </div>
  </div>
</div>



<div class="footer">
  <p>♥ from Vibe</p>
</div>
