<div ng-include="'partials/navbar'"></div>

<div ng-switch="select" class="row mood-form">
  <div ng-switch-when="form">
    <h3>What mood are you in?</h3>
    <div class="small-7 small-centered columns">
      <ul class="mood-list">
        <li ng-repeat="mood in moods"><button ng-click="setMood(mood.type)">{{mood.icon}}</button></li>
      </ul>
    </div>
  </div>
  <div ng-switch-when="genre">
    <h3>What genre do you like to listen to when feeling {{userMood}}?</h3>
    <form ng-submit="setPlayer(userGenre)">
      <input ng-model="userGenre" autofocus>
      <button ng-show="userGenre">Feelin' {{userMood}}</button>
    </form>
    <button ng-click="chooseMood()">Back</button>
  </div>
</div>

{{userMood}}

